.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.appButton{
    width: 16.5%;
    color: white;
    padding: 10px;
    background-color: #630404;
    font-size: larger;
    border-radius: 10px;
    border: 1px solid#630404;
}
.carList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}